# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Dependancy Compiliations
*.d
econ.cpp # generated at make time

# Executables Generated
Quizzer
window
